################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
*.slnx.sqlite
[Bb]in/
[Oo]bj/
/logs
/.github/workflows/release.old
/wnn.exe
